<div class="container">
  <h1>Registrati!</h1>
  <div class="container">
    <div class="row">
      <div class="col">
        <form [formGroup]="form">
          <div>
            <div class="form-group">
              <label for="nome">Nome</label>
              <input
                type="text"
                id="nome"
                class="form-control"
                formControlName="nome"
              />
            </div>

            <div class="form-group">
              <label for="cognome">Cognome</label>
              <input
                type="text"
                id="cognome"
                class="form-control"
                formControlName="nome"
              />
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="text"
                id="password"
                class="form-control"
                formControlName="password"
              />
            </div>

            <div class="form-group">
              <label for="confermaPassword">Conferma Password</label>
              <input
                type="text"
                id="confermaPassword"
                class="form-control"
                formControlName="confermaPassword"
              />
            </div>

            <div class="form-group">
              <label>Genere</label>
              <select class="form-select" aria-label="Default select example">
                <option value="1">Donna</option>
                <option value="2">Uomo</option>
              </select>
            </div>
            <!-- <div class="radio" *ngFor="let genere of generi">
              <label>
                <input
                  type="radio"
                  id="genere"
                  formControlName="genere"
                  [value]="genere"
                />
                {{ genere }}
              </label>
            </div> -->

            <div class="mb-3 form-group">
              <label for="basic-url" class="form-label"
                >Immagine del Profilo</label
              >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  id="basic-url"
                  aria-describedby="basic-addon3 basic-addon4"
                />
              </div>
            </div>

            <div class="form-group">
              <label for="floatingTextarea">Biografia</label>
              <div class="form-floating">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="floatingTextarea"
                ></textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                class="form-control"
                formControlName="username"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
